
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Azeret Mono", monospace;
}
/* some common class name here */
.main-box-width{
    width: 1440px;
}
.paragrap-text{

}
.heading-h2{

}
/* heading part style start here */
.banner{
    height: 652px;
    border: 2px solid red;
    margin: 0 auto;
    background-image: url(../assets/);
}